<h1 class="text-center">Log in</h1>

<%= form_for(:session, url: sessions_path, method: 'POST' ) do |f| %>
  <div class="form-group">
    <%= f.text_field :user, autofocus: true, placeholder: "Enter a username" , class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Login' %>
  </div>
<% end %>