<h1 class="title">Log in</h1>

<%= form_for(:session, url: sessions_path, method: 'POST' ) do |f| %>
  <div>
    <%= f.text_field :user, autofocus: true, placeholder: "Enter your name" %>
  </div>
  <div class="actions">
    <%= f.submit 'Login' %>
  </div>
<% end %>