<p id="notice"><%= notice %></p>

<h1 class="title">
  <strong>Name:</strong>
  <%= @user.name %>
</h1>

<% if @articles %>
    <article>
      <h3>Recent articles:</h3>
      <ul class="posts">
        <%= render @articles %>
      </ul>
    </article>
<% end %>

<%= link_to 'New Article', new_article_path, class: 'btn-1' %>