/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav {
  width: 100vw;
  height: 5.5em;
  background: #f2eee3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-li a {
  text-decoration: none;
  color: #ff8426;
  margin: 0 3em;
  font-weight: 800;
  font-size: 1.3em;
}

.nav-li a:hover {
  transition: 0.5s;
  color: #785e4d;
}

.logo {
  width: 10em;
  margin: 0 3em;
}

.logo:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.title {
  margin-top: 4.5em;
  color: #785e4d;
  font-size: 3em;
}

/* ---------- Forms ---------- */

.form {
  margin-bottom: 3em;
}

.form-label {
  color: #785e4d;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 2em;
  text-align: center;
}

.form-input {
  border: none;
  border-radius: 4px;
  width: 35em;
  height: 2.5em;
  margin: 1.6em 0;
}

.text-input {
  border: none;
  border-radius: 4px;
  width: 35em;
  height: 25em;
  margin: 1.6em 0;
}

.select-input {
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: center;
}

.btn-1 {
  background: #ff8426;
  border-radius: 4px;
  border: none;
  padding: 0.7em 3em;
  color: #f2eee3;
  font-weight: bold;
  font-size: 1em;
  margin: 0 auto;
  text-decoration: none;
}

.btn-1 a {
  text-decoration: none;
  color: #f2eee3;
}

.btn-1:hover {
  background-color: #994708;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.2em;
}

.btn-2 {
  border: 2px solid #ff8426;
  border-radius: 4px;
  padding: 0.7em 3em;
  color: #f2eee3;
  font-weight: bold;
  font-size: 1em;
  margin: 5em;
  text-decoration: none;
}

.btn-2:hover {
  background-color: #ff8426;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.2em;
}

.art-opt {
  margin-top: 5em;
}

/* ---------- Articles Index ---------- */

.grid-cont {
  margin: 3.5em 0;
  height: 95vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    'principal principal secondary'
    'principal principal secondary'
    'article_3 article_4 article_5';
}

.grid_1 {
  position: relative;
  grid-area: principal;
  background: url(movies_bg.jpg);
  background-size: cover;
}

.grid_1::after,
.grid_2::after,
.grid_3::after,
.grid_4::after,
.grid_5::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(360deg, #000, transparent);
  pointer-events: none;
}

.grid_2 {
  position: relative;
  grid-area: secondary;
  background: url(videogames_bg.jpg);
  background-size: cover;
}

.grid_3 {
  position: relative;
  grid-area: article_3;
  background: url(tech_bg.jpg);
  background-size: cover;
}

.grid_4 {
  position: relative;
  grid-area: article_4;
  background: url(music_bg.jpg);
  background-size: cover;
}

.grid_5 {
  position: relative;
  grid-area: article_5;
  background: url(tv_bg.jpg);
  background-size: cover;
}