<p id="notice"><%= notice %></p>

<div class="categories-grid">
  <% @categories.each do | category | %>
    <%= link_to category.name, category_path(category.id), class: "grid-ele" %>
  <% end %>
</div>
