<p id="notice"><%= notice %></p>

<% if @categories.exists? %>
  <div class="cat-index-grid">
    <% @categories.each do | category | %>
      <%= link_to category.name, category_path(category.id), class: "index-grid-ele" %>
    <% end %>
  </div>
<% end %>

<% if @categories.count < 6 %>
  <div class="cat-index-conditional">
    <%= link_to 'New Category', new_category_path, class: 'btn-1' %>
  </div>
<% end %>
