<div class="cat-show-grid">
  <div class="grid-row-1">
    <% @last_two.reverse.each do |article| %>
      <div class="cat-art-text">
        <%= link_to article.title, article_path(article.id) %>
      </div>
      <div class="cat-art-img">
        <%= image_tag article.image %>
      </div>
    <% end %>
  </div>
  <div class="grid-row-2">
    <% @first_two.reverse.each do |article| %>
      <div class="cat-art-img">
        <%= image_tag article.image %>
      </div>
      <div>
        <%= link_to article.title, article_path(article.id) %>
      </div>
    <% end %>
  </div>
</div>
